GtkButton {
  background-image: -gtk-gradient (radial,
               0.4 0.4, 0.1,
               0.6 0.6, 0.7,
               color-stop (0, #f00),
               color-stop (0.1, #a0f),
               color-stop (0.2, transparent),
               color-stop (1, transparent));
  background-color: transparent;
}

GtkEventBox {
  background-color: transparent;
  background-image:
  url("sigmoid.png"),
  -gtk-gradient (radial,
		 0.5 0.5, 0.0,
		 0.5 0.5, 0.5,
		 color-stop (0, white),
		 color-stop (0.85, orange),
		 color-stop (0.99, darker(brown)),
		 color-stop (1, transparent));
}

#testButton {
  background-color: blue;
}

GtkLayout {
  background-color: darker(green);
}

#button-implementation {
  background-color: green;
}

GtkWindow {
  background-color: transparent;
}

#testWindow {
  background-color: green;
}